@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 0 rgba(96, 165, 250, 0);
    background-color: rgb(255, 255, 255);
  }
  40% {
    box-shadow: 0 0 24px 4px rgba(96, 165, 250, 0.6);
    background-color: rgba(96, 165, 250, 0.08);
  }
  100% {
    box-shadow: 0 0 0 rgba(96, 165, 250, 0);
    background-color: rgb(255, 255, 255);
  }
}

@media (prefers-color-scheme: dark) {

  @keyframes subtle-glow {
    0% {
      box-shadow: 0 0 0 rgba(96, 165, 250, 0);
      background-color: rgba(39, 39, 42, 0.5);
    }
    40% {
      box-shadow: 0 0 24px 4px rgba(96, 165, 250, 0.6);
      background-color: rgba(96, 165, 250, 0.292);
    }
    100% {
      box-shadow: 0 0 0 rgba(96, 165, 250, 0);
      background-color: rgba(39, 39, 42, 0.5);
    }
  }
}

.icon-card-glowing {
  animation: subtle-glow 0.6s ease-out;
  overflow: visible;
}

